{% set title = 'Highfield Country Park - A Space for Nature in Levenshulme and Reddish' %}
{% include './partials/header.twig' %}
<!-- index.twig -->
<body>
  {# tells the us what css and js to include #}
  {% set require = { } %}
  {# Links to other pages #}
  {% set home_url = 'index.html' %}
  {% set news_url = 'news-and-events.html' %}
  {% set map_url = 'map.html' %}
  {% set volunteer_url = 'volunteer.html' %}
  {% set about_url = 'about.html' %}
    <header>
     {% include './partials/home-nav.twig' %}
    </header>
    <main>
      <div class="text-content-outer-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="intro-about">
                <h2>What is Highfield Country Park?</h2>
                <p>
                  Highfield Country Park is a 70-acre (280,000 m2) area of open land, situated on the east side of Levenshulme, Manchester, that stretches to the east of Broom Avenue across to the rear of Reddish Golf Course and to the junction of Longford Road, Reddish and Nelstrop Road, Levenshulme.
                </p>
                <p>
                  Much of Highfield Country Park is not manicured, nature has some freedom to take it's own course. Although it is does not seem too large, if you take one of the many small paths you may suddenly find yourself wondering whether you are still in Manchester... in much of it, you can only see the trees and long grass. The roads and buildings are often hidden from view.
                <div class="eyebrow">
                  <ul>
                    <li><a href="map.html"> Finding Highfield Country Park</a></li>
                    <li><a href="about.html"> More about the state and history of the park</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="listing teasers first">

                <h3>Latest Stories</h3>

                <article class="teaser">
                  <header><h4>Vandalism in the Forest School Area</h4></header>
                  <p class="body-content">At some point between Thursday 7th and Saturday the 9th June, vandals damaged the forest school area, where there is a clearing and log seats. The log seats were set fire to, and a number of trees were cut down, apparently for no reason, two oak trees and one birch... <a href="news-and-events.html#vandalism-forest-school-2018">Read more</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Wildlife is thriving</h4></header>
                  <p class="body-content">In the last few weeks there have been sightings of nightingales, herons, goldfinches and bullfinches, and that's not all! We had some exciting new visitors to the pond too... <a href="news-and-events.html#wildlife-march-2018">Read more</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Photos from the Bat Boxes event</h4></header>
                  <p class="body-content">In 2017 we held an event for the community to build bat boxes and to help children and adults alike connect to nature in the park. In a future session we will put up the bat boxes around the park and people will be able to see them around the park for years to come! The bats in the park are at risk and we are doing what we can to support them. <a href="news-and-events.html#bat-boxes-summary-jan-2018">See the pictures of the event</a></p>
                </article>

                <article class="teaser">
                  <header><h4>Vote for us in the Aviva Community Fund!</h4></header>
                  <p class="body-content">The Friends of Highfield Country Park are bidding for funds to create a bee sanctuary in the park. Our idea is to create a Bee sanctuary garden in Highfield, one that all can enjoy and use as a walk through, and a place to sit and soak up the sun in the beautiful garden. <a href="https://www.avivacommunityfund.co.uk/voting/project/view/17-3871">Read more and vote for us on the Aviva website!</a></p>
                </article>
                <article class="teaser">
                  <header><h4>Plans to Develop on Highfield Country Park Rejected </h4></header>
                  <p>Plans were rejected by the council that proposed developing 57 houses on Cringle Road by Highfield Country Park.<a href="news-and-events.html#development-oct-17">(Read more)</a></p><p>
                </article>

                <article class="teaser">
                  <header><h4>New Bins and a Bench</h4></header>
                  <p class="body-content">Two of our volunteers put in bins and a new bench to help improve the litter situation and give people a place to relax by the pond.<a href="news-and-events.html#bins-bench-oct-17">(Read more)</a></p>
                </article>

              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="listing teasers second">

                <h3>Upcoming Events</h3>

                <!-- base event
                  <article class="teaser">
                    <header><h4>TITLE - DATE</h4></header>
                    <p class="body-content">DESCRIPTION <a href="news-and-events.html#reference">LINK</a></p>
                    <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=">ADDRESS</a></span>
                    <span class="eyebrow"><label>Time:</label> TIME</span>
                    <span class="eyebrow"><label>Date:</label> DATE</span>
                    <span class="eyebrow"><label>Contact:</label> CONTACT</span>
                  </article>
                -->

                <article class="teaser">
                  <header><h4>Woodland Fun Day at Green Square</h4></header>
                  <p class="body-content">A relaxed day of woodland fun activities for adults and children. There will be mud involved so wear appropriate clothes! Activities include making a bird box, learning to maintain woodland, and planting woodland fruits.
                  <a href="news-and-events.html#woodland-fun-april-2018">More Info</a></p>
                  <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/way/27994813">The Green Square between Bowler St and Watts St</a></span>
                  <span class="eyebrow"><label>Time:</label> 10am - 1pm</span>
                  <span class="eyebrow"><label>Date:</label> Sat 21st April</span>
                </article>

                <article class="teaser">
                  <header><h4>Volunteer Bulb Planting - Sat 24th Feb</h4></header>
                  <p class="body-content">Join us for a few hours work on the park! We are aiming to  create places for flowerbeds at the entrances and under the lecterns, de-weed, tidy the borders and plant some bulbs.
                  <a href="news-and-events.html#bulb-planting-feb-2018">See our volunteer poster</a></p>
                  <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=m192ua#map=17/53.43985/-2.18075">Bowler St Entrance to Highfield Country Park</a></span>
                  <span class="eyebrow"><label>Time:</label> 12 noon</span>
                  <span class="eyebrow"><label>Date:</label> Sat 24th Feb</span>
                </article>


                <article class="teaser">
                  <header><h4>Bowler St Community Clean Up - Sat 3rd Jan</h4></header>
                  <p class="body-content">The resident's association on Bowler St are having a community clean up day on the streets around Bowler St and Watts St. Litter pickers shall be provided. Bring gloves if you have some - some spares will be available. </p>
                  <span class="eyebrow"><label>Location:</label>The Green Square on Bowler St</a></span>
                  <span class="eyebrow"><label>Time:</label> 10am</span>
                  <span class="eyebrow"><label>Date:</label> Sat 3rd Feb</span>
                  <span class="eyebrow"><label>Contact:</label> Emily 07825 261247</span>
                </article>

                <article class="teaser">
                  <header><h4>Extraordinary General Meeting - Tue 9th Jan 2018</h4></header>
                  <p class="body-content">Our bi-monthly Friends meeting will happen at the baptist church opposite the Sidings pub. This meeting will include a vote on a new committee structure. This structure would mean more officers would be part overseeing decisions. All welcome. <a href="news-and-events.html#meeting-08012018">See the agenda</a></p>
                  <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                  <span class="eyebrow"><label>Time:</label> 7pm</span>
                  <span class="eyebrow"><label>Date:</label> Tuesday, 9th Jan</span>
                  <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                </article>


                <article class="teaser">
                  <header><h4>Extraordinary General Meeting - Tue 9th Jan 2018</h4></header>
                  <p class="body-content">Our bi-monthly Friends meeting will happen at the baptist church opposite the Sidings pub. This meeting will include a vote on a new committee structure. This structure would mean more officers would be part overseeing decisions. All welcome. <a href="news-and-events.html#meeting-08012018">See the agenda</a></p>
                  <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                  <span class="eyebrow"><label>Time:</label> 7pm</span>
                  <span class="eyebrow"><label>Date:</label> Tuesday, 9th Jan</span>
                  <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                </article>

                <article class="teaser">
                  <header><h4>Christmas Walk</h4></header>
                  <p class="body-content">Come and join us for a Christmassy walk around the park, get to know your neighbours and community, and then join us for a drink in the Sidings pub after.</p>
                  <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Meet by the bridge on Fallowfield loop (leading onto Cranage Road) </a></span>
                  <span class="eyebrow"><label>Time:</label> 2pm</span>
                  <span class="eyebrow"><label>Date:</label> 28th Dec</span>
                  <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                </article>

                <article class="teaser">
                  <header><h4>Family Event: Building Bat Boxes</h4></header>
                  <p class="body-content">This Autumn half term we are running sessions of crafts for the family to help support the bat and bird population in the park, supported by the <a href="https://www.johnmuirtrust.org/">John Muir Trust</a>.<a href="news-and-events.html#bat-boxes-oct-17">(Read more)</a></p>
                   <span class="eyebrow"><label>Location:</label> Highfield Country Park (meet at the picnic area by the Fallowfield Loop)</span>
                   <span class="eyebrow"><label>Time:</label> 10am - 3pm</span>
                   <span class="eyebrow"><label>Date:</label> Fri 27th October</span>
                   <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                </article>

                <article class="teaser">
                  <header><h4>Friends of Highfield Country Park Meeting</h4></header>
                  <p class="body-content">Bi-monthly meeting for anyone interested in helping support the park and the community. Please come along and get involved!</p>
                   <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                   <span class="eyebrow"><label>Time:</label> 7pm</span>
                   <span class="eyebrow"><label>Date:</label> Tuesday, 14th November</span>
                   <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                </article>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  {% include './partials/footer.twig' %}

  </body>
</html>
