{# set the title of the page #}
{% set title = 'Highfield Country Park - A Space for Nature in Levenshulme and Reddish' %}

{# tells the us what css and js to include #}
{% set require = { } %}

{# Links to other pages #}
{% set home_url = 'index.html' %}
{% set news_url = 'news-and-events.html' %}
{% set gallery_url = '#' %}
{% set map_url = 'map.html' %}
{% set about_url = 'about.html' %}


{% include './partials/header.twig' %}
<body>

    {% include './partials/home-nav.twig' %}

    <div class="text-content-outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="intro-about">
              <h2>What is Highfield Country Park?</h1>
              <p>
                Highfield Country Park is a 70-acre (280,000 m2) area of open land, situated on the east side of Levenshulme, Manchester, that stretches to the east of Broom Avenue across to the rear of Reddish Golf Course and to the junction of Longford Road, Reddish and Nelstrop Road, Levenshulme.
              </p>
              <span class="eyebrow">
                <ul>
                  <li><a href="map.html"> Finding Highfield Country Park</a></li>
                  <li><a href="about.html"> More about the state and history of the park</a></li>
                </ul>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="listing teasers first">

              <h3>Latest Stories</h3>

              <article class="teaser">
                <header><h4>Lorem Ipsum</h4></header>
                <p class="body-content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium <a href="news-and-events.html">(Read more)</a></p>
              </article>

              <article class="teaser">
                <header><h4>Lorem Ipsum</h4></header>
                <p class="body-content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium <a href="news-and-events.html">(Read more)</a></p>
              </article>

              <article class="teaser">
                <header><h4>Lorem Ipsum</h4></header>
                <p class="body-content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium <a href="news-and-events.html">(Read more)</a></p>
              </article>

              <article class="teaser">
                <header><h4>Lorem Ipsum</h4></header>
                <p class="body-content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium <a href="news-and-events.html">(Read more)</a></p>
              </article>

            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="listing teasers second">

              <h3>Upcoming Events</h3>

              <article class="teaser">
                <header><h4>Friends of Highfield Country Park Meeting</h4></header>
                <p class="body-content">Bi-monthly meeting for anyone interested in Highfield Country Park and the community.<a href="news-and-events.html">(Read more)</a></p>
                 <span class="eyebrow"><label>Location:</label> Levenshulme Baptist Church</span>
                 <span class="eyebrow"><label>Time:</label> 7pm</span>
                 <span class="eyebrow"><label>Date:</label> Tuesday, 12th September</span>
              </article>

              <article class="teaser">
                <header><h4>Highfield Country Park Guided Tour</h4></header>
                <p class="body-content">Walk through the park with an expert on history the park and discover its flora and fauna.<a href="news-and-events.html">(Read more)</a></p>
                 <span class="eyebrow"><label>Location:</label> Highfield Country Park, Bowler St Entrance </span>
                 <span class="eyebrow"><label>Time:</label> 1pm</span>
                 <span class="eyebrow"><label>Date:</label> Sunday, 24th September</span>
              </article>

              <article class="teaser">
                <header><h4>Community Clean up</h4></header>
                <p class="body-content">Help keep the park clean by volunteering with our group to keep it tidy.<a href="news-and-events.html">(Read more)</a></p>
                <span class="eyebrow"><label>Location:</label> Highfield Country Park, Fallowfield Loop Entrance </span>
                 <span class="eyebrow"><label>Time:</label> 12pm</span>
                 <span class="eyebrow"><label>Date:</label> Sunday, 1st October</span>
              </article>

            </div>
          </div>
        </div>
      </div>
    </div>

  {% include './partials/footer.twig' %}

  </body>
</html>
