<!DOCTYPE HTML>

<!-- https://www.webcodegeeks.com/html5/html5-page-structure-example/ -->

<html lang="en">
<head>
<title>Highfield Country Park</title>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather:500,800" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,800' rel='stylesheet' type='text/css'>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<!-- FAVICON -->
<link rel='shortcut icon' type='image/x-icon' href='images/favicon.png' />

<!-- My Styles -->
<link href="assets/css/styles.css" rel="stylesheet">

</head>
<body>
  <div class="intro-content">
    <div class="container-fluid">

        <div class="row">

          {% include 'partials/linear-nav.twig' %}

        </div>
      </div>
    </div>

    <div class="text-content-outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="text-content">

              <h1>Finding Highfield Country Park</h1>

              <h2>Transport</h2>

              <p>There are many transport links to Highfield Country Park, with short walks to regular bus and train services, and on a dedicated walking and cycling route</p>


              <h3>Walking / Cycling</h3>

              <p>Highfield Country Park connects right onto the <a href="https://fallowfieldloop.org/">Fallowfield Loop</a> and is part of the national cycle network routes 6 and 60. You can cycle or walk from Chorlton, Whalley Range, Fallowfield, and Gorton.</p>

              <h3>Train</h3>

              <p>Levenshulme Train Station is about 10 minutes walk from Highfield Country Park, with regular train services from Manchester Picadilly and Stockport, and direct connections to Crewe, Wilmslow and Blackpool.</p>

              <h3>Bus</h3>

              <p>The bus services to Levenshulme from Manchester and Stockport go up to 20 times an hour, and is one of the busiest bus routes in Europe. Other bus connections include the 197 and 168.</p>

              <h3>Car</h3>

              <p>There are no dedicated car parks by Highfield Country Park, but many of the side streets have parking. Please be aware these are primarily for residents though! Tesco's in the centre of Levenshulme does have parking, which is about ten minutes walk from the park. The Tesco postcode is M19 3NN.</p>


              </div> <!-- text-content -->
            </div> <!-- col-xs-12 -->
            <div class="col-xs-12">
              <div class="map" id="map" style="height:800px; width:100%;">

              </div> <!-- map -->
            </div> <!--col-xs-12 -->

           </div><!-- /.row -->

       </div><!--/.container-->
    </div><!--/.outer container-->
       <!--/.footer-->

  {% include './partials/footer.twig' %}

</body>


<!-- OSMap -->

<link rel="stylesheet" type="text/css" href="assets/js/vendor/leaflet/leaflet.css" />
<script type="text/javascript" src="assets/js/vendor/leaflet/leaflet.js"></script>
<script type="text/javascript" src="assets/js/leafletembed.js"></script>

</html>
