{% set title = 'Highfield Country Park - News and Events' %}
{% include './partials/header.twig' %}
<!-- news-and-events.twig -->
<body>
  {% set require = { listfilter: true }
  %}

  {# Links to other pages #}
  {% set home_url = 'index.html' %}
  {% set news_url = 'news-and-events.html' %}
  {% set gallery_url = '#' %}
  {% set map_url = 'map.html' %}
  {% set about_url = 'about.html' %}

    <header>
      {% include 'partials/linear-nav.twig' %}
    </header>

    <main>
      <div class="text-content-outer-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="text-content listing">

                <h1>News and Events</h1>

                <div class="sort-filter">
                  <span id="filter-news" class="filter btn btn-default">News</span>
                  <span id="filter-events" class="filter btn btn-default">Events</span>
                  <span id="filter-reset" class="filter btn btn-default">All</span>
                </div>


                <div id="news-events-list">
                  <ul class="list list-unstyled">


                    <li id="item-8">
                      <article id="meeting-08012018">
                        <span class="category">Event</span>
                        <header><h3>Extraordinary General Meeting - Tue 9th Jan 2018</h3></header>
                        <p class="body-content">Our bi-monthly Friends meeting will happen at the baptist church opposite the Sidings pub. This meeting will include a vote on a new committee structure. This structure would mean more officers would be part overseeing decisions. All welcome. </p>
                        <p><strong>Agenda:</strong>
                          <ol>
                            <li>APOLOGIES</li>
                            <li>MINUTES OF THE MEETING 14th NOVEMBER 2017</li>
                            <li>MATTERS ARISING</li>
                            <li>TREASURERS REPORT</li>
                            <li>DISCUSSION ON RULE 5 – EXECUTIVE COMMITTEE</li>
                            <li>COMMITTEE REPORT</li>
                            <li>SOCIAL COMMITTEE REPORT</li>
                            <li>NIEGHBOURHOOD SERVICES UPDATE</li>
                            <li>ANY OTHER BUSINESS</li>
                            <li>DATE OF THE NEXT MEETING</li>
                          </ol>
                        <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                        <span class="eyebrow"><label>Time:</label> 7pm</span>
                        <span class="eyebrow"><label>Date:</label> Tuesday, 9th Jan</span>
                        <span class="eyebrow"><label>Contact:</label> Peter - 07507786893</span>
                      </article>
                    </li>

                    <li id="item-7">
                      <article id="christmas-walk-2017">
                        <span class="category">Event</span>
                        <header><h3>Christmas Walk</h3></header>
                        <p class="body-content">Come and join us for a Christmassy walk around the park, get to know your neighbours and community, and then join us for a drink in the Sidings pub after.</p>
                        <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Meet by the bridge on Fallowfield loop (leading onto Cranage Road) </a></span>
                        <span class="eyebrow"><label>Time:</label> 2pm</span>
                        <span class="eyebrow"><label>Date:</label> 28th Dec</span>
                        <span class="eyebrow"><label>Contact:</label> Peter - 07507786893</span>
                      </article>
                    </li>

                    <li id="item-5">
                      <article id="aviva-vote-oct-17">
                        <span class="category">News</span>
                        <header><h3>Vote for us in the Aviva Community Fund!</h3></header>

                        <p class="body-content">The Friends of Highfield Country Park are bidding for funds to create a bee sanctuary in the park. Our idea is to create a Bee sanctuary garden in Highfield, one that all can enjoy and use as a walk through, and a place to sit and soak up the sun in the beautiful garden. A place where people can be educated and become closer to nature, but most of all for the bees of Manchester! As we all know, our bees need help, and it is vital that we help protect them. The aim is to have as many fruit trees, flowers, plants herbs and grasses that bees can flourish in, whilst creating an elegant space for families and other wildlife to enjoy. There would be a trail, which includes facts about bees, their different species, how they protect us and how we can help protect them. <a href="https://www.avivacommunityfund.co.uk/voting/project/view/17-3871">Read more and vote for us on the Aviva website!</a></p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    <li id="item-1">
                      <article id="development-oct-17">

                        <span class="category">News</span>
                        <header><h3>Plans to Develop on Highfield Country Park Rejected</h3></header>


                        <p class="body-content">Plans were submitted by Towerhouse Systems to propose developing 57 houses on Cringle Road by Highfield Country Park. This would have covered the land where the Shores Fold Community Farm currently stands. </p>

                        <p>Reasons given for the council rejecting this development included:
                          <ul>
                            <li><strong>Lack of access </strong> :- since it is assumed that each household may have two cars each, 114 cars may have to use Cringle Road for access. The roads were not considered big enough to cope with this.</li>
                            <li><strong>Shores Fold Community Farm </strong> :- the farm is unique to this area, allowing families to visit and get tours of the animals. The loss of this farm would mean children would not get a chance to learn about animals.</li>
                            <li><strong>Bat population </strong>:- bats have been confirmed to be living in Highfield Country Park and are a protected species. The loss of farmland would have an detrimental impact on their numbers. Now that this has been confirmed, we hope to do more work to support the bats.</li>
                          </ul>

                          For more information on this planning application see the documents at <a href="http://pa.manchester.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=OQK6U8BCLRJ00">the Manchester Council website</a>.
                        </p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    </li>

                    <li id="item-2">
                      <article id="bins-bench-oct-17">
                        <span class="category">News</span>
                        <header><h3>New Bins and a Bench</h3></header>

                        <p class="body-content">Volunteers Peter and Steve put in a new bench by the pond just by Nelstrop Road. This Tolkien-esque pond looks wild enough to make you think you may find crocodiles inside! And now there is a place for you to relax here, with a new bench that is in place. The new bins have been put in by the picnic area by Bowler St, by St Andrews, and on the path along by Cringle Road.</p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>

                      </article>
                    </li>

                    <li id="item-3">
                      <article id="bat-boxes-oct-17">


                        <span class="category">Event</span>
                        <header><h3>Family Event: Building Bat &amp; Bird Boxes</h3></header>

                        <p class="body-content">Come to this family friendly event and help protect the wildlife of the park. The biodiversity of the park is growing, and it is great news we now have confirmed bat populations living there. This event is supported by the <a href="https://www.johnmuirtrust.org/">John Muir Trust</a> and we are grateful to them for support. Read more about bats in the UK at the <a href="http://www.bats.org.uk/pages/about_bats.html">Bat Conservation Trust</a>.</p>
                         <span class="eyebrow"><label>Location:</label> Highfield Country Park (meet at the picnic area by the Fallowfield Loop)</span>
                         <span class="eyebrow"><label>Time:</label> 10am - 3pm  </span>
                         <span class="eyebrow"><label>Date:</label> Fri 27th October</span>
                         <span class="eyebrow"><label>Contact:</label> Peter - 07507786893</span>
                      </article>


                      <li id="item-4">
                        <article>

                          <span class="category">Event</span>
                          <header><h3>Friends of Highfield Country Park Meeting</h3></header>

                          <p class="body-content">Bi-monthly meeting for anyone interested in helping support the park and the community. Please come along and get involved!</p>

                          <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                          <span class="eyebrow"><label>Time:</label> 7pm</span>
                          <span class="eyebrow"><label>Date:</label> Tuesday, 14th November</span>
                          <span class="eyebrow"><label>Contact:</label> Peter - 07507786893</span>
                        </article>
                      </li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </main>

    {% include './partials/footer.twig' %}

  </body>
</html>
