{% set title = 'Highfield Country Park - News and Events' %}
{% include './partials/header.twig' %}
<!-- news-and-events.twig -->
<body>
  {% set require = { listfilter: true }
  %}

  {# Links to other pages #}
  {% set home_url = 'index.html' %}
  {% set news_url = 'news-and-events.html' %}
  {% set gallery_url = '#' %}
  {% set map_url = 'map.html' %}
  {% set about_url = 'about.html' %}

    <header>
      {% include 'partials/linear-nav.twig' %}
    </header>

    <main>
      <div class="text-content-outer-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="text-content listing">

                <h1>News and Events</h1>

                <div class="sort-filter">
                  <span id="filter-news" class="filter btn btn-default">News</span>
                  <span id="filter-events" class="filter btn btn-default">Events</span>
                  <span id="filter-reset" class="filter btn btn-default">All</span>
                </div>



                <div id="news-events-list">
                  <ul class="list list-unstyled">


                    <!--
                      SAMPLE EVENT
                    <li id="item-NUMBER">
                      <article id="ENTER-A-UNIQUE-ID">
                        <span class="category">Event</span>
                        <header><h3></h3></header>
                        <p class="body-content"></p>
                        <span class="eyebrow"><label>Location:</label>ENTER LOCATION</span>
                        <span class="eyebrow"><label>Time:</label> TIME</span>
                        <span class="eyebrow"><label>Date:</label> DATE</span>
                        <span class="eyebrow"><label>Contact:</label> CONTACT</span>
                      </article>
                    </li>

                    <li id="item-NUMBER">
                      <article id="UNIQUE-NAME">
                        <span class="category">News</span>
                        <header><h3>Title</h3></header>

                        <p class="body-content">Body text<a href="my-url">Link for info</a></p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    </li>
                    -->


                    <li id="item-12">
                      <article id="wildlife-march-2018">
                        <span class="category">News</span>
                        <header><h3>Wildlife thriving on the park</h3></header>

                        <p class="body-content">Recently we have had a series of awful cold snaps, bringing snow and ice. However, this has not affecting the bird and pond life. Sightings over the last few months have included nightingales, singing their beautful songs. There is now a heron that can be sometimes seen on the park. Bullfinches and goldfinches can be seen too. The success of the birds may be in part due to the diverse trees. Some trees such as the cypress due to the way they trap air, can be 6c-9c warmer than the air temperature. We have also seen freshwater shrimp in the ponds - a sign of healthy clean water.</p>
                        <p class="body-content">Many thanks too for all who put out nuts and seeds on the park for the birds to keep them fed over the cold period. This made a massive difference!</p>

                        <figure class="figure">
                          <img class="figure-img  rounded img-thumbnail" alt="building bat boxes in highfield country park"  src="assets/images/common-nightingale.jpg"/>
                          <span>The common nightingale</span>
                        </figure>
                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    </li>

                    <li id="item-11">
                      <article id="bulb-planting-feb-2018">
                        <span class="category">Event</span>
                        <header><h3>Volunteer Bulb Planting - Sat 24th Feb</h3></header>
                        <p class="body-content">Join us for a few hours work on the park! We are aiming to  create places for flowerbeds at the entrances and under the lecterns, de-weed, tidy the borders and plant some bulbs. </p>
                        <figure class="figure">
                          <img  class="figure-img rounded img-thumbnail" alt="volunteer poster 24th feb 2018 - bulb planting in highfield country park" src="assets/images/md/volunteer_poster.jpg"/>
                        </figure>
                        <span class="eyebrow"><a download="true" href="assets/images/lg/volunteer_poster.jpg">Download the poster</a></span>
                        <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=m192ua#map=17/53.43985/-2.18075">Bowler St Entrance to Highfield Country Park</a></span>
                        <span class="eyebrow"><label>Time:</label> 12 noon</span>
                        <span class="eyebrow"><label>Date:</label> Sat 24th Feb</span>
                      </article>
                    </li>

                    <li id="item-10">
                      <article id="bat-boxes-summary-jan-2018">

                        <span class="category">News</span>
                        <header><h3>Photos from the Bat Boxes event</h3></header>


                        <div class="body-content">
                          <p> In 2017 we held an event for the community to build bat boxes and to help children and adults alike connect to nature in the park. In a future session we will put up the bat boxes around the park and people will be able to see them around the park for years to come! The bats in the park are at risk and we are doing what we can to support them. See below for photos. </p>
                          <figure class="figure">
                            <img  class="figure-img rounded img-thumbnail" alt="building bat boxes in highfield country park" src="assets/images/bat-boxes-2017/bat-boxes-oct-17-4-small.jpg"/>
                          </figure>
                          <figure class="figure">
                            <img class="figure-img  rounded img-thumbnail" alt="building bat boxes in highfield country park"  src="assets/images/bat-boxes-2017/bat-boxes-oct-17-1-small.jpg"/>
                          </figure>
                        </div>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    </li>

                    <li id="item-9">
                      <article id="bowler-st-cleanup-feb-2018">
                        <span class="category">Event</span>
                        <header><h3>Bowler St Community Clean Up - Sat 3rd Jan</h3></header>
                        <p class="body-content">The resident's association on Bowler St are having a community clean up day on the streets around Bowler St and Watts St. Litter pickers shall be provided. Bring gloves if you have some - some spares will be available.  </p>
                        <span class="eyebrow"><label>Location:</label> The Green Square, Bowler St</span>
                        <span class="eyebrow"><label>Time:</label> 10am</span>
                        <span class="eyebrow"><label>Date:</label> Sat, 3rd Feb</span>
                        <span class="eyebrow"><label>Contact:</label> Emily 07825 261247</span>
                      </article>
                    </li>

                    <li id="item-8">
                      <article id="meeting-08012018">
                        <span class="category">Event</span>
                        <header><h3>Extraordinary General Meeting - Tue 9th Jan 2018</h3></header>
                        <p class="body-content">Our bi-monthly Friends meeting will happen at the baptist church opposite the Sidings pub. This meeting will include a vote on a new committee structure. This structure would mean more officers would be part overseeing decisions. All welcome. </p>
                        <p><strong>Agenda:</strong>
                          <ol>
                            <li>APOLOGIES</li>
                            <li>MINUTES OF THE MEETING 14th NOVEMBER 2017</li>
                            <li>MATTERS ARISING</li>
                            <li>TREASURERS REPORT</li>
                            <li>DISCUSSION ON RULE 5 – EXECUTIVE COMMITTEE</li>
                            <li>COMMITTEE REPORT</li>
                            <li>SOCIAL COMMITTEE REPORT</li>
                            <li>NIEGHBOURHOOD SERVICES UPDATE</li>
                            <li>ANY OTHER BUSINESS</li>
                            <li>DATE OF THE NEXT MEETING</li>
                          </ol>
                        <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                        <span class="eyebrow"><label>Time:</label> 7pm</span>
                        <span class="eyebrow"><label>Date:</label> Tuesday, 9th Jan</span>
                        <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                      </article>
                    </li>

                    <li id="item-7">
                      <article id="christmas-walk-2017">
                        <span class="category">Event</span>
                        <header><h3>Christmas Walk</h3></header>
                        <p class="body-content">Come and join us for a Christmassy walk around the park, get to know your neighbours and community, and then join us for a drink in the Sidings pub after.</p>
                        <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Meet by the bridge on Fallowfield loop (leading onto Cranage Road) </a></span>
                        <span class="eyebrow"><label>Time:</label> 2pm</span>
                        <span class="eyebrow"><label>Date:</label> 28th Dec</span>
                        <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                      </article>
                    </li>

                    <li id="item-5">
                      <article id="aviva-vote-oct-17">
                        <span class="category">News</span>
                        <header><h3>Vote for us in the Aviva Community Fund!</h3></header>

                        <p class="body-content">The Friends of Highfield Country Park are bidding for funds to create a bee sanctuary in the park. Our idea is to create a Bee sanctuary garden in Highfield, one that all can enjoy and use as a walk through, and a place to sit and soak up the sun in the beautiful garden. A place where people can be educated and become closer to nature, but most of all for the bees of Manchester! As we all know, our bees need help, and it is vital that we help protect them. The aim is to have as many fruit trees, flowers, plants herbs and grasses that bees can flourish in, whilst creating an elegant space for families and other wildlife to enjoy. There would be a trail, which includes facts about bees, their different species, how they protect us and how we can help protect them. <a href="https://www.avivacommunityfund.co.uk/voting/project/view/17-3871">Read more and vote for us on the Aviva website!</a></p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    </li>
                    <li id="item-1">
                      <article id="development-oct-17">

                        <span class="category">News</span>
                        <header><h3>Plans to Develop on Highfield Country Park Rejected</h3></header>


                        <p class="body-content">Plans were submitted by Towerhouse Systems to propose developing 57 houses on Cringle Road by Highfield Country Park. This would have covered the land where the Shores Fold Community Farm currently stands. </p>

                        <p>Reasons given for the council rejecting this development included:
                          <ul>
                            <li><strong>Lack of access </strong> :- since it is assumed that each household may have two cars each, 114 cars may have to use Cringle Road for access. The roads were not considered big enough to cope with this.</li>
                            <li><strong>Shores Fold Community Farm </strong> :- the farm is unique to this area, allowing families to visit and get tours of the animals. The loss of this farm would mean children would not get a chance to learn about animals.</li>
                            <li><strong>Bat population </strong>:- bats have been confirmed to be living in Highfield Country Park and are a protected species. The loss of farmland would have an detrimental impact on their numbers. Now that this has been confirmed, we hope to do more work to support the bats.</li>
                          </ul>

                          For more information on this planning application see the documents at <a href="http://pa.manchester.gov.uk/online-applications/applicationDetails.do?activeTab=summary&keyVal=OQK6U8BCLRJ00">the Manchester Council website</a>.
                        </p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>
                      </article>
                    </li>

                    <li id="item-2">
                      <article id="bins-bench-oct-17">
                        <span class="category">News</span>
                        <header><h3>New Bins and a Bench</h3></header>

                        <p class="body-content">Volunteers Peter and Steve put in a new bench by the pond just by Nelstrop Road. This Tolkien-esque pond looks wild enough to make you think you may find crocodiles inside! And now there is a place for you to relax here, with a new bench that is in place. The new bins have been put in by the picnic area by Bowler St, by St Andrews, and on the path along by Cringle Road.</p>

                        <span class="eyebrow"><label>Authored by:</label> Alex</span>

                      </article>
                    </li>

                    <li id="item-3">
                      <article id="bat-boxes-oct-17">


                        <span class="category">Event</span>
                        <header><h3>Family Event: Building Bat &amp; Bird Boxes</h3></header>

                        <p class="body-content">Come to this family friendly event and help protect the wildlife of the park. The biodiversity of the park is growing, and it is great news we now have confirmed bat populations living there. This event is supported by the <a href="https://www.johnmuirtrust.org/">John Muir Trust</a> and we are grateful to them for support. Read more about bats in the UK at the <a href="http://www.bats.org.uk/pages/about_bats.html">Bat Conservation Trust</a>.</p>
                         <span class="eyebrow"><label>Location:</label> Highfield Country Park (meet at the picnic area by the Fallowfield Loop)</span>
                         <span class="eyebrow"><label>Time:</label> 10am - 3pm  </span>
                         <span class="eyebrow"><label>Date:</label> Fri 27th October</span>
                         <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                      </article>


                      <li id="item-4">
                        <article>

                          <span class="category">Event</span>
                          <header><h3>Friends of Highfield Country Park Meeting</h3></header>

                          <p class="body-content">Bi-monthly meeting for anyone interested in helping support the park and the community. Please come along and get involved!</p>

                          <span class="eyebrow"><label>Location:</label> <a href="https://www.openstreetmap.org/search?query=levenshulme%20baptist%20church#map=17/53.44272/-2.18504">Levenshulme Baptist Church, Elmsworth Ave, Manchester M19 3NS, UK</a></span>
                          <span class="eyebrow"><label>Time:</label> 7pm</span>
                          <span class="eyebrow"><label>Date:</label> Tuesday, 14th November</span>
                          <span class="eyebrow"><label>Contact:</label> Alec - 0161 4832671</span>
                        </article>
                      </li>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </main>

    {% include './partials/footer.twig' %}

  </body>
</html>
