@import "../vendor/bootstrap/bootstrap-custom";
@import "colours";

/* bootstrap variables */
$grid-gutter: 15px;
$screen-gutter: 15px;

/* element spacing */


$intro_content_padding_bottom: $padding-base-vertical*2; /* careful to be above the fold */
$main_content_outer_container_top: $padding-base-vertical*2;
$main_content_outer_container_bottom: $padding-base-vertical*10;
$padding_footer-social_top: $padding-base-vertical*2;

/* screen widths */


/* type */
$base_font_size: 18px;
$font_open_sans: Open Sans, Sans;
$font_lora: Lora, Georgia;
$font_weight_bold: 800;
$font_weight_normal: 500;
$font_weight_light: 300;
$general_text_shadow: 0 0 10px rgba(0,0,0,0.5);


/* images */
$homepage_main_image_height_mobile: 350px;
$homepage_main_image_height: 550px;
$centre_bg_shorthand: center center / cover no-repeat;

/* transitions */
$general_transition: all 1s ease;
$footer_hover_bg: transparentize($colour_white, 0.5);

/* other */
$opacity_low: 0.3;
$grid_nav_text_padding: $padding-base-vertical*2;
$grid_nav_font_size: $base_font_size*1.5;
$grid_nav_blur_height: ($grid_nav_text_padding*2) + $grid_nav_font_size;

// palette based on http://www.colourlovers.com/palette/680350/earthy

$colour_white: #FFF;
$colour_offwhite: #EFEFEF;
$colour_beige: #CFB590;

$colour_main_light: #9E9A41;
$colour_main: #758918;
$colour_main_dark: #3B3717;
$colour_second_light: #564334;
$colour_second: #49281F;
