// new palette http://www.colourlovers.com/palette/680350/earthy
// old color palette http://www.colourlovers.com/palette/1081510/Nature_Walk
// needs some pinks / yellows for flower colours?
// for example from http://www.colourlovers.com/palette/2085024/Sun_Over_Meadow


$colour_offwhite: #CFB590;
$colour_grey_light: #B8ADB1;
$colour_grey: #837B82;

$colour_main_light: #9E9A41;
$colour_main: #758918;
$colour_main_dark: #3B3717;
$colour_second_light: #564334;
$colour_second: #49281F;

$colour_skyblue: #DEE1B6;
