@import "variables.scss";
@import "colours.scss";

.title-container {
  position:absolute;
  left:-$grid-gutter-width/2;
  width:100%;
  bottom:$homepage_main_image_height/3;
}

.title-container-outer {
  min-width:100%;
}

.title-bg {
  position: relative;
}

.title-bg-image {
  min-height: $homepage_main_image_height;
}


/*
 * main section
 */
.main-content {

  .column {
    height:$homepage_main_image_height;
  }
}

.grid-gallery .grid-square {
  min-height: $homepage_main_image_height/2;
}
