@import "variables.scss";
@import "colours.scss";



.title-container {
  position:absolute;
  padding:7rem 1rem;
  bottom:$spacing*2;
}

.title-container-outer {
  min-width:100%;
}

.title-bg {
  position: relative;
}

.title-bg-image {
  min-height: 600px;
}

.text-box {
  padding:0 $spacing*2;
}

.nav-text-column {
  background-color: $colour_skyblue;
}


/*
 * main section
 */
.main-content {

  .column {
    height:$first_image_height;
  }
}

.grid-gallery .grid-square {
  min-height: $first-image-height/2;
}
