
.title-container-static {
  padding:1rem 4rem;
  bottom:3rem;
}


.title-bg-v2 {
  height:400px;
  background: #fff url("../images/factoryandpark.jpg") top center/cover no-repeat;
  position: relative;
}

.title-bg-v3 {
  height:800px;
  width:100%;
  background: #fff url("../images/factoryandpark.jpg") top center/cover no-repeat;
  position: absolute;
}

.title-bg-warhol {
  height:800px;
  width:100%;
  position: absolute;
}

.header-test {
  width:100%;
  background-color: #fff;
  position: fixed;
  top:0;
  height:96px;
  z-index:10;
}
