@import "variables.scss";
@import "colours.scss";

.title-container {
  position:absolute;
  left:-$grid-gutter-width/2;
  width:100%;
  bottom:$padding-base-vertical;

  @media (min-width: $screen-sm) {
    bottom:$homepage_main_image_height/3;
  }
}

.title-container-outer {
  min-width:100%;
}

.title-bg {
  position: relative;
}

.title-bg-image {

  min-height: $homepage_main_image_height_mobile;

  @media (min-width: $screen-sm) {
    min-height: $homepage_main_image_height;
  }
}

.title {
  position:relative;
  left:$grid-gutter-width/2;
  padding:$grid-gutter-width/2;
}

/*
 * main section
 */
.main-content {

  .column {
    min-height: $homepage_main_image_height_mobile;

    @media (min-width: $screen-sm) {
      min-height: $homepage_main_image_height;
    }
  }
}

.grid-gallery .grid-square {
  min-height: $homepage_main_image_height_mobile/2;

  @media (min-width: $screen-sm) {
    min-height: $homepage_main_image_height/2;
  }
}

footer {
  margin-top:$margin-footer-vertical;
  padding: $padding-footer-vertical 0;
}


@media (min-width: $screen-sm) and (orientation:landscape) {
    .col-md-4 {
        // standard size
    }
}

@media (max-width: $screen-sm) and (orientation:portrait) {
    .col-xs-portrait-6 {
         width:50% !important;
    }
    .col-xs-portrait-12 {
         width:100% !important;
    }
}
