
.chimney-image {
  background: $colour_offwhite url("../images/factoryandpark.jpg") $centre_bg_shorthand;
}

.path1-image {
  background: $colour_offwhite url("../images/path1.jpg") $centre_bg_shorthand;
}

.path2-image {
  background: $colour_offwhite url("../images/path2.jpg") $centre_bg_shorthand;
}

.path3-image {
  background: $colour_offwhite url("../images/path3.jpg") $centre_bg_shorthand;
}

.path4-image {
  background: $colour_offwhite url("../images/path4.jpg") $centre_bg_shorthand;
}


@media (min-width: $screen-lg) {
  .grid-nav .grid-square {
    filter: grayscale(55%);
  }

  .grid-nav .grid-square:hover {
    filter: grayscale(0%);
    background-size:105%;
    transition: $general_transition;
  }
}
