@import "variables.scss";
@import "colours.scss";

nav.grid-nav {

  .grid-square {
    position: relative;

    &:hover a {
      text-decoration: underline;
    }
  }

  .grid-nav-link {
    position: absolute;
    left:50%;
    bottom:0;
    width:100%;

    a {
      @extend h4;
      position: relative;
      left:-50%;
      width:100%;
      margin:auto;
      color:#fff;
      padding:0.5rem;
      display: block;
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      text-shadow: $general_text_shadow;
    }
  }
}
