@import "_variables.scss";
@import "_colours.scss";

nav.grid-nav {

  .grid-square {
    position: relative;

    &:hover a {
      text-decoration: underline;
    }
  }

  .grid-nav-link {
    position: absolute;
    left:50%;
    top:0;
    width:100%;

    a {
      @extend h4;
      position: relative;
      left:-50%;
      width:100%;
      min-height: 2.4em;
      margin:auto;
      color:$colour_main_dark;
      display: block;
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      text-shadow: $general_text_shadow;
      background: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

      span {
        position: absolute;
        display:block;
        bottom:0;
        width:100%;
        padding-bottom:$padding-base-vertical*2;
      }
    }
  }
}

footer {
  background-color:$colour_main;

  .nav > li > a {
    color:$colour_white;
    text-align:center;

    &:hover {
      background-color: transparent;
      text-shadow: 0 0 10px $footer_hover_bg;
    }
  }

  .social.nav {
    text-align:center;

    li {
      padding-top:$padding-footer-social-top;
      display:inline-block;

      a {

        color:$colour_second;
        font-size: 2rem;
        font-weight: 800;

        &:hover {
          background-color: transparent;
          text-shadow: none;
          color:$colour_second_light;
        }
      }
    }
  }
}

