@import "variables.scss";
@import "colours.scss";

p {
  color:$colour_second_light;
}

h1.title {
  text-align:center;
  bottom:0;
  color:$colour_white;
  text-shadow: 1px 1px 2px $colour_main_light, 0 0 4px transparentize($colour_white, $opacity_low);;
}

.eyebrow {
  margin:$padding-base-horizontal;
}

footer {
  @extend small;
}
