<div class="call-to-action">
   <h4 class="cta-title col-xs-12"><strong>Urgent:</strong> Stop the development of houses on Highfield Country Park</h4><a href="#" class="col-xs-12"><span class="btn btn-default">Sign the Petition</span></a>
   <div class="clearfix"></div>
</div>
