<div class="intro-content">
  <div class="container-fluid">

      <div class="row">
        <div class="column col-xs-6 col-xs-portrait-12 col-md-7 chimney-image">
          <div class="title-container-outer">
            <div class="title-container">
              <h1 class="title">Highfield Country Park</h1>
            </div>
          </div>
        </div>
        <div class="column grid-gallery col-xs-6 col-xs-portrait-12 col-md-5">
          <div class="row">
            <nav class="grid-nav">
              <div class="col-xs-6">
                <div class="path1-image grid-square">
                  <a href="{{ news_url }}"><span>News &amp; Events</span></a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="path2-image grid-square">
                  <a href="{{ about_url }}"><span>About</span></a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="path3-image grid-square">
                    <a href="{{ map_url }}"><span>Map</span></a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="path4-image grid-square">
                  <a href="{{ gallery_url }}"><span>Gallery</span></a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="call-to-action">
           <h4 class="cta-title col-xs-12"><strong>Urgent:</strong> Stop the development of houses on Highfield Country Park</h4><a href="#" class="col-xs-12"><span class="btn btn-default">Sign the Petition</a>
           <div class="clearfix"></div>
        </div>
    </div>
  </div>
