
<nav class="linear-nav">
  <div class="linear-nav-image col-xs-4 chimney-image">
      <a href="index.html" class="title-link"><span>Highfield Country Park</span></a>
  </div>
  <div class="col-xs-2 linear-nav-image path1-image">
    <a href="news-and-events.html"><span>News &amp; Events</span></a>
  </div>
  <div class="col-xs-2 linear-nav-image path2-image">
    <a href="about.html"><span>About</span></a>
  </div>
  <div class="col-xs-2 linear-nav-image path3-image">
      <a href="map.html"><span>Map</span></a>
  </div>
  <div class="col-xs-2 linear-nav-image path4-image">
    <a href="#contact"><span class="contact">Gallery</span></a>
  </div>
</nav>
